.favorite-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 808px;
  margin: 80px 0px 0px 0px;
  overflow: auto;

  // scrollbar
  &::-webkit-scrollbar {
    width: 6px;
  }
  /* 自定義 scrollbar 輪廓顏色 */
  &::-webkit-scrollbar-track {
    margin-top: 16px;
    background: #ffffff;
    cursor: pointer;
  }

  /* 自定義 scrollbar 滑塊顏色 */
  &::-webkit-scrollbar-thumb {
    background: #c1c9d3;
    border-radius: 3px;
    cursor: pointer;
  }

  /* 自定義 scrollbar 滑塊 hover 時的顏色 */
  &::-webkit-scrollbar-thumb:hover {
    background: #838a93;
  }

  .video-container {
    width: 760px;
    height: 151px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #edf2f7;
    border-radius: 16px;
    margin: 16px 16px 0px 16px;
    cursor: pointer;
    .video-wrapper {
      display: flex;
      justify-content: space-between;
      height: 119px;
      .video-image {
        width: 96px;
        height: 96px;
        border-radius: 8px;
        margin-right: 16px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .video-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          width: 621.2px;
          height: 23px;
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: #111111;
        }
        .description {
          width: 616px;
          height: 40px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #718096;

          /* 控制顯示的行數 */
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .switch-wrapper {
          width: 209px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          .player {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
          .date {
            width: 161px;
            height: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #93989a;
          }
        }
        .bookmark {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 16px;
          right: 16px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}

.video-container.active {
  border: 1px solid #ff7f50;
}
