@charset "UTF-8";
body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
  font-style: normal;
  // max-width: 2440px;
  // min-height: 1024px;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/* 定義 scrollbar 樣式的混入 */
@mixin scrollbar-custom {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    background: #ffffff;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    position: absolute;
    background: #c1c9d3;
    border-radius: 3px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    position: absolute;
    background: #838a93;
  }
}

//user
.user-container {
  position: absolute;
  top: 40px;
  right: 60px;
  width: 184px;
  height: 48px;
  background-color: #ece3e3;
  border-radius: 5px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .user-wrapper {
    position: relative;
    width: 134px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .user-avatar {
      position: absolute;
      left: 0%;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    .avatar-placeholder {
      position: absolute;
      left: 0%;
      font-size: 25px;
      background-color: rgb(21, 231, 21);
      padding: 5px;
      border-radius: 50%;
      font-weight: bold;
      color: white;
    }

    .user-name {
      position: absolute;
      right: 0;
      width: 74px;
      height: 24px;
      font-family: Noto Sans TC;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      color: #111111;
    }
  }

  .chevron-down {
    width: 16px;
    height: 16px;
    line-height: 8px;
    cursor: pointer;
  }
}

//main
.main-container {
  position: relative;
  display: grid;
  grid-template-columns: 260px minmax(200px, 1fr) minmax(200px, 372px);
  min-height: 1024px;
  flex-grow: 1;
}

//navigation
.navigation {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  height: 1024px;

  .logo-container {
    margin-top: 40px;
    text-align: center;

    hr {
      position: absolute;
      width: 196px;
      height: 1px;
      left: 32px;
      top: 96px;
      background: #e2e8f0;
      border: none;
    }
  }

  .list-container {
    width: 80%;
    margin: 57px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    .list-item {
      position: relative;
      width: 80%;
      display: grid;
      grid-template-columns: minmax(150px, 1fr) 1fr;
      align-items: center;
      margin: 12px 5px;
      padding: 0 0 0 15px;
      font-size: 0.8rem;
      cursor: pointer;

      .list-item-content {
        width: 180px;
        height: 47px;
        display: flex;
        color: #718096;
        align-items: center;
        .list-item-title {
          margin: 0 10px;
        }
      }

      &.active {
        background-color: #111111;
        border-radius: 12px;

        .link-item {
          color: #fefefe;
        }

        .hamburger-container {
          .hamburger-wrapper {
            .hamburger-dot {
              background: #fefefe;
            }
          }
        }
      }
    }
    .addCategory {
      border: 2px solid #30a9de;
      border-radius: 12px;
      .link-item {
        color: #30a9de;
      }
    }
  }
  //小螢幕才顯示
  .navigation-hamburger {
    display: none;
  }
}
// content-container
.content-container {
  grid-column: 2 / 3;
  position: relative;
  width: 100%;
  height: 1024px;
  display: flex;
  flex-direction: column;
  h1 {
    position: absolute;
    width: 65px;
    height: 48px;
    left: 24px;
    top: 40px;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #000000;
    margin: 0;
  }
  //default
  .default {
    // position: absolute;
    // top: 104px;
    // left: 214px;
    max-width: 379px;
    width: 100%;
    height: 182px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 104px auto 0px auto;

    img {
      width: 56px;
      height: 56px;
    }

    span {
      width: 379px;
      height: 26px;
      font-weight: 500;
      font-size: 18px;
      margin-top: 26px;
      text-align: center;
      color: #718096;
    }

    .button-add {
      // position: absolute;
      // top: 142px;
      margin-top: 40px;
      left: 94px;
      width: 191px;
      height: 44px;
      background-color: #ff7f50;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border-style: none;
      cursor: pointer;

      p {
        width: 95px;
        height: 23px;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.17px;
        color: #ffffff;
      }
    }
  }

  //card-list-container
  .card-list-container {
    margin: 96px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 178px);
    grid-gap: 16px;
    // justify-content: center;
    flex-wrap: wrap;

    .card-container {
      width: 178px;
      height: 266px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      box-shadow: 24px 8px 24px 8px rgba(199, 199, 199, 0.24);
      border-radius: 8px;

      .card-wrapper {
        margin: 16px;
        .card-cover {
          width: 144px;
          height: 144px;

          .card-cover-img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
          }
        }

        .card-content {
          width: 145px;
          height: 41px;
          display: flex;
          flex-direction: column;
          margin-top: 8px;

          .card-content-title {
            font-weight: 700;
            font-size: 14px;
            color: #141416;
            margin: 0;
            white-space: nowrap; /* 防止文本換行 */
            overflow: hidden; /* 隱藏超出容器的文本 */
            text-overflow: ellipsis; /* 顯示省略號 */
          }

          .card-content-type {
            font-weight: 400;
            font-size: 12px;
            color: #93989a;
            margin: 4px 0;
            white-space: nowrap; /* 防止文本換行 */
            overflow: hidden; /* 隱藏超出容器的文本 */
            text-overflow: ellipsis; /* 顯示省略號 */
          }
        }

        .button-more {
          width: 44px;
          height: 28px;
          border-style: none;
          background: #30a9de;
          color: #ffffff;
          border-radius: 4px;
          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

// footer
.footer {
  grid-column: 3 / 4;
  // max-width: 372px;
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

//overlay
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

//addShowModal
.modal-container {
  width: 868px;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 90px auto;

  .modal-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-header {
      width: 100%;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0 16px;
      box-sizing: border-box;

      .modal-header-text {
        /* 新增 Podcast */
        height: 26px;
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #111111;
      }

      .button-close {
        cursor: pointer;
      }
    }

    hr {
      width: 99.9%;
      height: 0px;
      border: 1px solid #ebebeb;
      margin: 0 auto;
    }

    .modal-main {
      width: 836px;
      max-height: 600px;
      flex: 1;

      .search-result {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* 搜尋結果 */

        .search-result-header {
          width: 100%;
          height: 26px;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #111111;
          margin: unset;
          margin: 5px 0;
        }

        .card-list-container {
          margin: 0px;
          position: relative;
          max-height: 492px;
          overflow-y: auto;
          grid-template-columns: repeat(4, minmax(182px, 1fr));
          grid-gap: 30px;
          /* 自定義 scrollbar 輪廓顏色 */
          /* 自定義 scrollbar 滑塊顏色 */
          /* 自定義 scrollbar 滑塊 hover 時的顏色 */

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            position: absolute;
            background: #ffffff;
            cursor: pointer;
          }

          &::-webkit-scrollbar-thumb {
            position: absolute;
            background: #c1c9d3;
            border-radius: 3px;
            cursor: pointer;
          }

          &::-webkit-scrollbar-thumb:hover {
            position: absolute;
            background: #838a93;
          }

          .card-container {
            display: flex;
            width: 182px;
            height: 230px;
            cursor: pointer;

            &.active {
              border: 2px solid #ff7f50;
            }

            .card-cover {
              display: flex;
            }

            .card-content {
              justify-content: space-between;
              width: 144px;
              height: 45px;
            }
          }
        }

        .button-more {
          display: none;
        }
      }

      .modal-search-container {
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        margin-top: 16px;
        background-color: #f5f5f5;

        .search-icon {
          margin: 16px;
        }

        .search-input {
          width: 100%;
          border: none;
          outline: none;
          background-color: transparent;
          /* 開始搜尋 ... */
          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 23px;
        }
      }
    }

    .modal-footer {
      width: 100%;
      height: 96px;
      box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.1215686275);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #f5f5f5;
      /* Cancel */

      .modal-button-close {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 191px;
        height: 44px;
        border-radius: 8px;
        background-color: #f5f5f5;

        p {
          height: 23px;
          font-weight: 400;
          font-size: 16px;
          color: #111111;
        }
      }

      .modal-button-add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 191px;
        height: 44px;
        background: rgba(255, 127, 80, 0.5);
        border-radius: 8px;
        margin-right: 16px;
        cursor: not-allowed;

        p {
          height: 23px;
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
        }

        &.usable {
          background: #ff7f50;
          cursor: pointer;
        }
      }
    }
  }
}

//listActionModal
.list-modal-container {
  width: 414px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  margin: 90px auto;

  .modal-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-header {
      width: 100%;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0 16px;
      box-sizing: border-box;

      .modal-header-text {
        /* 新增 Podcast */
        height: 26px;
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #111111;
      }

      .button-close {
        cursor: pointer;
      }
    }

    hr {
      width: 99.9%;
      height: 0px;
      border: 1px solid #ebebeb;
      margin: 0 auto;
    }

    .list-modal-main {
      width: 382px;
      max-height: 600px;
      flex: 1;

      .search-result {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* 搜尋結果 */

        .search-result-header {
          width: 100%;
          height: 26px;
          font-weight: 900;
          font-size: 18px;
          line-height: 26px;
          color: #111111;
          margin: unset;
          margin: 5px 0;
        }

        .card-list-container {
          margin: 0px;
          position: relative;
          max-height: 492px;
          overflow-y: auto;
          grid-template-columns: repeat(4, minmax(182px, 1fr));
          grid-gap: 30px;
          /* 自定義 scrollbar 輪廓顏色 */
          /* 自定義 scrollbar 滑塊顏色 */
          /* 自定義 scrollbar 滑塊 hover 時的顏色 */

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            position: absolute;
            background: #ffffff;
            cursor: pointer;
          }

          &::-webkit-scrollbar-thumb {
            position: absolute;
            background: #c1c9d3;
            border-radius: 3px;
            cursor: pointer;
          }

          &::-webkit-scrollbar-thumb:hover {
            position: absolute;
            background: #838a93;
          }

          .card-container {
            display: flex;
            width: 182px;
            height: 230px;
            cursor: pointer;

            &.active {
              border: 2px solid #ff7f50;
            }

            .card-cover {
              display: flex;
            }

            .card-content {
              justify-content: space-between;
              width: 144px;
              height: 45px;
            }
          }
        }

        .button-more {
          display: none;
        }
      }

      .list-modal-search-container {
        width: 100%;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        margin-top: 16px;
        background-color: #f5f5f5;

        .search-icon {
          margin: 16px;
        }

        .emoji-container {
          width: 20px;
          height: 20px;
          padding-left: 10px;
          .emoji {
            line-height: 15px;
          }
        }

        .search-input {
          width: 100%;
          height: 20px;
          border: none;
          outline: none;
          background-color: transparent;
          /* 開始搜尋 ... */
          font-family: "Noto Sans TC";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          margin-left: 16px;
        }
        .separator {
          margin: 0 10px;
          color: #1d0f0f; /* 分隔符顏色 */
        }
      }
    }

    .modal-footer {
      width: 100%;
      height: 96px;
      box-shadow: 0px -10px 20px 0px rgba(0, 0, 0, 0.1215686275);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #f5f5f5;
      /* Cancel */

      .modal-button-close {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 191px;
        height: 44px;
        border-radius: 8px;
        background-color: #f5f5f5;

        p {
          height: 23px;
          font-weight: 400;
          font-size: 16px;
          color: #111111;
        }
      }

      .modal-button-add {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 191px;
        height: 44px;
        background: rgba(255, 127, 80, 0.5);
        border-radius: 8px;
        margin-right: 16px;
        cursor: not-allowed;

        p {
          height: 23px;
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
        }

        &.usable {
          background: #ff7f50;
          cursor: pointer;
        }
      }
    }
  }
}

//showMoreModal
.more-modal-container {
  box-sizing: border-box;
  position: relative;
  width: 868px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  margin: 90px auto;

  .more-modal-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .more-modal-header {
      position: relative;
      height: 144px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      padding: 16px;

      .more-modal-header-img {
        width: 127.66px;
        height: 127.66px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 13.35px;
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
        }
      }

      .more-modal-header-content {
        width: 687px;
        display: flex;
        flex-direction: column;

        span {
          margin-bottom: 4px;
        }

        .content-title {
          height: 26px;
          font-weight: 700;
          font-size: 1rem;
          line-height: 26px;
          color: #111111;
        }

        .content-type {
          height: 17px;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          color: #93989a;
        }

        .content-text {
          height: 51px;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          color: #718096;
          letter-spacing: 0.8px;
          /* 添加 scrollbar 样式 */
          overflow-y: scroll;
          overflow-x: hidden;
          @include scrollbar-custom;
        }
      }

      .button-close {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
      }

      .button-delete {
        position: absolute;
        top: 119px;
        right: 16px;
        width: 40px;
        height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #ff5050;
        border-radius: 4px;
        background-color: white;

        p {
          /* 刪除 */
          width: 24px;
          height: 17px;
          font-weight: 700;
          font-size: 12px;
          line-height: 17px;
          color: #ff5050;
        }
      }
    }
    .more-modal-content {
      /* 添加 scrollbar 样式 */
      overflow-y: scroll;
      overflow-x: hidden;
      @include scrollbar-custom;
      .video-container {
        max-width: 831px;
        min-width: 100px;
        width: 100%;
        height: 151px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px;
        background: #ffffff;
        border: 1px solid #edf2f7;
        border-radius: 16px;
        margin: 16px 16px 0px 16px;
        cursor: pointer;

        .video-wrapper {
          width: 95%;
          display: flex;
          justify-content: space-between;
          height: 119px;
          .video-image {
            width: 96px;
            height: 96px;
            border-radius: 8px;
            margin-right: 16px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
            }
          }

          .video-content {
            max-width: 687px;
            min-width: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
              width: 621.2px;
              height: 23px;
              font-weight: 500;
              font-size: 16px;
              line-height: 23px;
              color: #111111;
              /* 控制顯示的行數 */
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .description {
              width: 687px;
              height: 40px;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #718096;
              overflow-y: scroll;
              overflow-x: hidden;
              @include scrollbar-custom;
            }

            .switch-wrapper {
              width: 209px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;

              .player {
                width: 40px;
                height: 40px;
                cursor: pointer;
              }

              .date {
                width: 161px;
                height: 20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #93989a;
              }
            }

            .bookmark {
              width: 20px;
              height: 20px;
              position: absolute;
              top: 16px;
              right: 16px;
              cursor: pointer;
              text-align: center;
            }
          }
        }
      }
      .video-container.active {
        border: 2px solid #ff7f50;
      }
    }
  }
}

//favoriteList
.favorite-list-container {
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px 0px 0px;
  margin: 80px auto;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar-custom;

  .video-container {
    max-width: 760px;
    min-width: 300px;
    width: 100%;
    height: 151px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    background: #ffffff;
    border: 1px solid #edf2f7;
    border-radius: 16px;
    margin: 16px 16px 0px 16px;
    cursor: pointer;

    .video-wrapper {
      max-width: 720px;
      min-width: 300px;
      width: 100%;
      height: 119px;
      display: flex;
      justify-content: space-between;

      .video-image {
        min-width: 96px;
        min-height: 96px;
        border-radius: 8px;
        margin-right: 16px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
        }
      }

      .video-content {
        max-width: 700px;
        min-width: 280px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          max-width: 700px;
          min-width: 250px;
          width: 90%;
          height: 23px;
          font-weight: 500;
          font-size: 16px;
          line-height: 23px;
          color: #111111;
          /* 控制顯示的行數 */
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .description {
          max-width: 700px;
          min-width: 250px;
          width: 100%;
          height: 40px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #718096;
          overflow-y: scroll;
          overflow-x: hidden;
          @include scrollbar-custom;
        }

        .switch-wrapper {
          width: 209px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          .player {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }

          .date {
            width: 161px;
            height: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #93989a;
          }
        }

        .bookmark {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 16px;
          right: 16px;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
  .video-container.active {
    border: 2px solid #ff7f50;
  }
}

// hamburger
.hamburger-container {
  position: relative;

  .hamburger-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 16px;

    .hamburger-dot {
      background: #adb3be;
      border-radius: 50%;
      width: 3px;
      height: 3px;
    }
  }
}
//dropdown
.dropdown-container {
  position: absolute;
  width: 180px;
  height: 156px;
  top: 50%;
  left: 0%;
  background-color: #fefefe;
  border-radius: 5px;
  z-index: 1;
  display: none;

  &.active {
    display: block;
  }

  .dropdown-item p {
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #111111;

    &.none {
      cursor: not-allowed;
    }
  }

  hr {
    width: 180px;
    height: 0px;
    border: 1px solid #ebebeb;
  }
}

.logout-dropdown {
  position: absolute;
  top: 70px;
  right: 1rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  button {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: #2980b9;
    }
  }
}

.player-container {
  // max-width: 312px;
  width: 312px;
  margin: 104px 60px 0 0;
  height: 596px;
  box-shadow: 16px 16px 40px rgba(199, 199, 199, 0.24);
  border-radius: 16px;

  .player-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 32px 32px 32px;
  }

  .player-bookmark {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bookmark {
      color: #ff7f50;
      cursor: pointer;
    }

    .playing {
      font-family: "Noto Sans TC";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 35px;
      color: #1a202c;
    }
  }
  .player-content {
    width: 85%;
    // max-width: 248px;

    .player-content-title {
      /* Title */
      height: 64px;
      // width: 230px;
      width: 90%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: #111111;
    }

    .player-content-text {
      /* Description */
      height: 36px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #718096;
    }
  }
}

/* divider */
hr {
  width: 248px;
  height: 1px;
  background: #e2e8f0;
  border-style: none;
  margin: -3px 0px 0px 0px;
}

// .player-spotify-container {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 348px;
//   background: #91b4c1;
//   border-radius: 16px;

//   .player-spotify-wrapper {
//     margin: 48px 32px 116px 32px;
//   }

//   .spotify-logo {
//     position: absolute;
//     width: 24px;
//     height: 24px;
//     right: 16px;
//     top: 16px;
//     padding: 0.04px 0.04px 0.03px 0.04px;
//   }

//   .spotify-img img {
//     width: 184px;
//     height: 184px;
//     border-radius: 8px;
//     filter: drop-shadow(4px 8px 16px rgba(0, 0, 0, 0.12));
//   }

//   .spotify-content {
//     display: flex;
//     flex-direction: column;
//     width: 184px;
//     margin-top: 24px;

//     .spotify-content-title {
//       font-family: "Noto Sans TC";
//       font-style: normal;
//       font-weight: 700;
//       font-size: 16px;
//       color: #ffffff;
//       display: -webkit-box;
//       -webkit-line-clamp: 1;
//       -webkit-box-orient: vertical;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       margin: 0;
//     }

//     .spotify-content-date {
//       font-family: "Noto Sans TC";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 12px;
//       color: rgba(255, 255, 255, 0.8);
//       margin: 0;
//     }
//   }

//   .spotify-controller-container {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     text-align: center;

//     .controller-back,
//     .controller-time,
//     .controller-fast,
//     .controller-more,
//     .icon-player {
//       cursor: pointer;
//       line-height: 0;
//     }

//     .controller-time,
//     .controller-more {
//       line-height: 16px;
//     }
//   }
// }

//spotify embed
#embed-iframe {
  width: 248px;
  height: 450px;
  border-style: none;
}

//tooltip
.custom-tooltip {
  background-color: #38c5cd !important;
  color: #291d1d !important;
  border-radius: 8px !important;
  padding: 10px !important;
  font-size: 1rem !important;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5) !important;
}

// loader animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* 媒體查詢 */

@media (max-width: 1180px) {
  /* main container */
  .main-container {
    display: flex;
    flex-direction: column;
  }

  /* navigation */
  .navigation {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 40px minmax(150px, 1fr);
    justify-content: center;
    align-items: center;
    line-height: 60px;
    background-color: #f6f7f8;

    //navigation-hamburger
    .navigation-hamburger {
      grid-column: 1/2;
      width: 40px;
      height: 40px;
      display: block;
      margin-left: 20px;
      .hamburger-container {
        width: 100%;
        height: 100%;
        .hamburger-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin: 0px;
          .hamburger-dot {
            width: 100%;
            border-radius: 5px;
            margin: 0px;
            padding: 1px;
          }
        }
      }
    }
    .logo-container {
      grid-column: 2/3;
      margin: 0;
      text-align: center;
      hr {
        display: none;
      }
    }

    //list container
    .list-container {
      display: none;
      .list-item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
      }
      &.open {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        background-color: #d9c4c4;
        border-radius: 0px 5px 5px 0px;
        z-index: 1;
      }
    }
  }

  /* content-container */
  .content-container {
    max-width: 800px;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .card-list-container {
      border-radius: 5px;
      .card-container {
        box-shadow: 0px 0px 10px 0px rgba(83, 77, 77, 0.3);
      }
    }

    .favorite-list-container {
      max-width: 900px;
      width: 100%;
      .video-container {
        max-width: 800px;
        min-width: 100px;
        .video-wrapper {
          max-width: 800px;
          min-width: 100px;
          .video-content {
            max-width: 700px;
            min-width: 100px;

            width: 100%;
            .title {
              max-width: 700px;
              min-width: 100px;

              width: 95%;
            }
            .description {
              max-width: 650px;
              min-width: 100px;
              width: 100%;
            }
            .switch-wrapper {
              max-width: 209px;
              min-width: 100px;
              width: 100%;
            }
          }
        }
      }
    }

    //showMoreModal
    .more-modal-container {
      max-width: 700px;
      min-width: 100px;
      width: 100%;
      .more-modal-wrapper {
        .more-modal-header {
          max-width: 680px;
          .more-modal-header-img {
            min-width: 90px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .more-modal-header-content {
            max-width: 700px;
            min-width: 100px;
            width: 100%;
            margin-left: 16px;
            .content-title {
              width: 100%;
            }
            .content-type {
              width: 100%;
            }
            .content-text {
              width: 100%;
            }
          }
        }
        .more-modal-content {
          max-width: 685px;
          min-width: 100px;
          width: 100%;
          .video-container {
            max-width: 650px;
            min-width: 100px;
            .video-wrapper {
              width: 100%;
              .video.image {
                min-width: 50px;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .video-content {
                min-width: 100px;
                width: 100%;
                .title {
                  width: 95%;
                }
                .description {
                  width: 100%;
                }
                .switch-wrapper {
                  max-width: 209px;
                  min-width: 100px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  /* user */
  .user-container {
    top: 5px;
    right: 0;
    margin-right: 10px;
    width: 20vw;
  }

  /* footer */
  .footer {
    max-width: 350px;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 60px;
    right: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    .player-container {
      width: 95%;
      display: unset;
      margin: 0;
      height: 0;
      .player-wrapper {
        display: unset;
        margin: 0;
        height: 0;
        .player-bookmark {
          display: none;
        }
        .player-content {
          display: none;
        }
        #embed-iframe {
          width: 100%;
          height: 100%;
          border-style: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1640px) {
  .content-container {
    flex-grow: 1;
    margin: 0px 8px;
    /* 無內容時預設 */
    .default {
      top: 10%;
      left: 35%;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .content-container h1 {
    margin: auto 0px;
    flex-grow: 1;
  }

  //收藏清單
  .favorite-list-container {
    width: 100% !important;
    flex-direction: row;
    flex-wrap: wrap;
    .video-container {
      display: flex;
      max-width: 750px !important;
      min-height: 200px;
    }
    .video-wrapper {
      display: flex;
      max-width: 760px !important;
      min-height: 180px;
      justify-content: space-between;
    }

    .video-image {
      width: 150px !important;
      height: 150px !important;
    }

    .video-content {
      padding: 2px;
      max-width: 750px !important;
      .title {
        max-width: 560px !important;
        font-size: 1rem !important;
      }

      .description {
        margin: 5px 0;
        max-width: 550px !important;
        min-height: 100px;
        font-size: 0.8rem !important;
      }

      .switch-wrapper {
        margin-left: 1rem;
        min-width: 209px;
        min-height: 40px;
      }

      .player {
        min-width: 50px;
        min-height: 50px;
      }

      .player svg {
        margin-left: 0.5rem;
        min-width: 40px;
        min-height: 40px;
      }

      .date {
        margin-left: 1rem;
        min-width: 100%;
        min-height: 30px;
      }
    }
  }

  /* MoreModal */
  .card-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 178px);
    grid-gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    // margin: 96px 2px 0px 2px;
  }

  .card-container {
    width: 178px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    box-shadow: 24px 8px 24px 8px rgba(199, 199, 199, 0.24);
    border-radius: 8px;
  }

  // showMoreModal
  .more-modal-container {
    max-width: 900px;
  }

  .more-modal-wrapper {
    max-width: 840px;
    width: 100%;
    .more-modal-header {
      min-height: 200px;
      width: 100%;
      justify-content: flex-start;

      .more-modal-header-img {
        min-width: 200px;
        min-height: 200px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .more-modal-header-content {
        max-width: 900px;
        margin-left: 16px;
        .content-title {
          max-width: 800px;
          font-size: 1.5rem;
        }
        .content-type {
          margin: 8px 0px;
          max-width: 800px;
          font-size: 1rem !important;
        }
        .content-text {
          max-width: 800px;
          height: 90px !important;
          font-size: 0.8rem !important;
          line-height: 1.15rem !important;
          letter-spacing: 0.09rem !important;
        }
      }
    }
    .more-modal-content {
      max-width: 840px;
      min-width: 100px;
      width: 100%;
      .video-container {
        width: 100%;
        .video-wrapper {
          justify-content: flex-start;
          width: 100%;
          .video-image {
            width: 120px;
            height: 120px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .video-content {
            width: 100%;
            .description {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .more-modal-header {
    max-width: 900px !important;
    min-height: 200px;
    .button-close {
      max-width: 800px;
    }

    .button-delete {
      min-width: 40px;
      min-height: 40px;
      top: 180px !important;
      p {
        font-size: 4rem;
      }
    }
    .more-modal-header-img {
      min-width: 200px;
      min-height: 200px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .more-modal-header-content {
      max-width: 900px;
      margin-left: 16px;
      .content-title {
        max-width: 800px;
        font-size: 1.5rem !important;
      }
      .content-type {
        margin: 8px 0px;
        max-width: 800px;
        font-size: 1rem !important;
      }
      .content-text {
        max-width: 800px;
        height: 90px !important;
        font-size: 0.8rem !important;
        line-height: 1.15rem !important;
        letter-spacing: 0.09rem !important;
      }
    }
  }

  .footer {
    min-width: 372px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
  }
}
