@charset "UTF-8";
/* Background */
.more-modal-container {
  box-sizing: border-box;
  position: relative;
  width: 868px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  margin: 90px auto;
}
.more-modal-container .more-modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  /* 自定義 scrollbar 輪廓顏色 */
  /* 自定義 scrollbar 滑塊顏色 */
  /* 自定義 scrollbar 滑塊 hover 時的顏色 */
}
.more-modal-container .more-modal-wrapper::-webkit-scrollbar {
  width: 6px;
}
.more-modal-container .more-modal-wrapper::-webkit-scrollbar-track {
  position: absolute;
  background: #ffffff;
  cursor: pointer;
}
.more-modal-container .more-modal-wrapper::-webkit-scrollbar-thumb {
  position: absolute;
  background: #c1c9d3;
  border-radius: 3px;
  cursor: pointer;
}
.more-modal-container .more-modal-wrapper::-webkit-scrollbar-thumb:hover {
  position: absolute;
  background: #838a93;
}
.more-modal-container .more-modal-wrapper .more-modal-header {
  height: 144px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  padding: 16px;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-img {
  width: 127.66px;
  height: 127.66px;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-img img {
  width: 100%;
  height: 100%;
  border-radius: 13.35px;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-content {
  width: 687px;
  display: flex;
  flex-direction: column;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-content span {
  margin-bottom: 4px;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-content .content-title {
  height: 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #111111;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-content .content-type {
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #93989a;
}
.more-modal-container .more-modal-wrapper .more-modal-header .more-modal-header-content .content-text {
  height: 51px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #718096;
  letter-spacing: 0.8px;
}
.more-modal-container .more-modal-wrapper .more-modal-header .button-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.more-modal-container .more-modal-wrapper .more-modal-header .button-delete {
  position: absolute;
  top: 119px;
  right: 16px;
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5050;
  border-radius: 4px;
  background-color: white;
}
.more-modal-container .more-modal-wrapper .more-modal-header .button-delete p {
  /* 刪除 */
  width: 24px;
  height: 17px;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #ff5050;
}

.video-container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 831px;
  height: 151px;
  background: #ffffff;
  border: 1px solid #edf2f7;
  border-radius: 16px;
  margin: 16px 16px 0px 16px;
  cursor: pointer;
}
.video-container .video-wrapper {
  display: flex;
  justify-content: space-between;
  height: 119px;
}
.video-container .video-wrapper .video-image {
  width: 96px;
  height: 96px;
  border-radius: 8px;
  margin-right: 16px;
}
.video-container .video-wrapper .video-image img {
  width: 100%;
  height: 100%;
}
.video-container .video-wrapper .video-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-container .video-wrapper .video-content .title {
  width: 621.2px;
  height: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #111111;
}
.video-container .video-wrapper .video-content .description {
  width: 687px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #718096;
  /* 控制顯示的行數 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-container .video-wrapper .video-content .switch-wrapper {
  width: 209px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container .video-wrapper .video-content .switch-wrapper .player {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.video-container .video-wrapper .video-content .switch-wrapper .date {
  width: 161px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #93989a;
}
.video-container .video-wrapper .video-content .bookmark {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  text-align: center;
}/*# sourceMappingURL=showMoreModal.css.map */